.carousel-item>img{
    width: 100%;
    height: 500px;
}
.main-title>h1{
   color: green;
   text-align: center;
   margin-top: 200px;
}
.carousel {
    position: absolute;
    width: 100%;
    z-index: -1;
}
.features{
    z-index: unset;
    margin-top: 260px;
    background-color: white;
    color: #000;
    width: 300px;
}